body {
    background: #eee;
    text-align: center;
    padding: 0 25px;
}

#main {
    width: 500px;
    margin: auto;
    text-align: left;
    background: white;
    padding: 50px 60px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
}

#main h1 {
    margin-top: 0;
    font-size: 35px;
}

body h1 {
    font-size: 35px;
	text-align: center;
	padding-left: 50px;
}

body h2 {
    font-size: 16px;
	text-align: center;
	padding-left: 50px;
}

body h3 {
    font-size: 16px;
}

table {
	border-collapse: collapse;
	text-align: center;
	padding-left: 5px;
	border: 1px solid block;

}

table .tb1 {
	text-align: left;
	width: 400px;
	color: #00F;
}

table .tbleft {
	text-align: right;
	width: 200px;
	padding-right: 10px;
}

.ApplyButton {
	text-align: center;
}

.InputSize, .SelectSize, .TimeSize {
	width: 300px;
}

.textAreaSize {
	width: 300px;
	height: 160px;
}

.FileSize {
	font-size: 14px;
	width:65%;
}

.DateSize {
	width: 300px;
}

.DatSize2 {
	width:150px;
}

.TimeSize {
	width:145px;
}

.TimeSize2 {
	width:105px;
}

.ulmenu {
	list-style-type:none;
	text-align:left;
}

.ulitems {
	list-style-type:none;
	text-align:left;
	padding-left:10px;
}

.lime {
	border-bottom:1px solid black;
}

img .ImageSize {
	width:300px;
	height:300px;
	margin:1px;
}
